profiles {
    kubernetes {

        params {
            user_id = getUID()
        }

        docker.enabled = false
        pod.enabled = true
        singularity.enabled = false

        executor {
            qwueueSize = 6
        }
        process {
            executor = 'k8s'
        }

        k8s {
            autoMountHostPaths = true
            computeResourceType = 'Job'
            cpuLimits = true
            httpConnectTimeout = '600s'
            httpReadTimeout = '600s'
            context = 'nfcontext'
            namespace = 'default'
            runAsUser = params.user_id
            pullPolicy = 'Always'
            debug.yaml = true
        }
    }
}

def getUID() {
    def p = Runtime.getRuntime().exec('id -u')
    try (InputStreamReader pout = new InputStreamReader(p.inputStream)) {
        pout.readLine() as Integer
    }
}
