params {
    download_url = 'https://drive.usercontent.google.com/download?id=1Q2SCJW_tCVKFzrdMrgVrFDyiF6nUN5-B&export=download&confirm=t&uuid=d0d576af-1a0b-4ad7-8164-5da6d3823196'
    download_dir = './test-data'
}

process {
    withName:"FULL_STITCHING_WORKFLOW.*" {
        container = 'ghcr.io/janeliascicomp/bigstitcher:2.4.1-spark3.3.2-scala2.12-java17-ubuntu24.04'
        errorStrategy = 'terminate'
    }
}
